@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --font-inter: Inter, sans-serif;
      --font-serif: 'Noto Serif', serif;

      /* --background: 0 0% 100%; */
      --background: #F3F6FF;
      /* --foreground: 222.2 84% 4.9%; */
      --foreground: #1C202F;
      
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: #F7C544;
      --primary-foreground: #1C202F;

      --primary-hover: #FFD363;

      /* --secondary: 210 40% 96.1%; */
      --secondary: #156568;
      /* --secondary-foreground: 222.2 47.4% 11.2%; */
      --secondary-foreground: #ffffff;

      --muted: 210 40% 96.1%;
      /* --muted-foreground: 215.4 16.3% 46.9%; */
      --muted-foreground: #DBDBDB;

      /* --accent: 210 40% 96.1%; */
      --accent: #BBC0D8;
      --accent-foreground: 222.2 47.4% 11.2%;
      --accent-green: #156568;
      --accent-ultra-violet: #CBB4F8;
      --accent-trop-indigo: #AA7FFF;
      --accent-surface: #E7EDFF;

      --banner: #3957C0;
      --banner-foreground: #fff;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      /* --border: 214.3 31.8% 91.4%; */
      --border: #E7EDFF;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;

      --translated: #DCEEF5;
      --translated-hover: #AEDFE3;
      --translated-active: #C5E7EC;
    }

    .dark {
      --font-inter: Inter, sans-serif;
      --font-serif: 'Noto Serif', serif;

      /* --background: 0 0% 100%; */
      --background: #1C202F;
      /* --foreground: 222.2 84% 4.9%; */
      --foreground: #F1F1F3;
      
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: #F7E544;
      --primary-foreground: #1C202F;

      --primary-hover: #F7D044;

      /* --secondary: 210 40% 96.1%; */
      --secondary: #156568;
      /* --secondary-foreground: 222.2 47.4% 11.2%; */
      --secondary-foreground: #ffffff;

      --muted: 210 40% 96.1%;
      /* --muted-foreground: 215.4 16.3% 46.9%; */
      --muted-foreground: #DBDBDB;

      /* --accent: 210 40% 96.1%; */
      --accent: #282D3E;
      --accent-foreground: 222.2 47.4% 11.2%;
      --accent-green: #0EAAA0;
      --accent-ultra-violet: #5B4782;
      --accent-trop-indigo: #AA7FFF;
      --accent-surface: #222739;

      --banner: #2B408C;
      --banner-foreground: #fff;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      /* --border: 214.3 31.8% 91.4%; */
      --border: #3A3E50;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;

      --translated: #1B2E3A;
      --translated-hover: #184951;
      --translated-active: #193C46;
    }

  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  body {
    @apply font-sans
  }

  h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  h1, h2, h3 {
    @apply font-serif
  }